* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
}

.center {
    padding: 0 calc(50% - 570px);
}

a {
    text-decoration: none;
}

.header {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header__form {
    display: flex;
    align-items: center;
    top: 32px;
    left: 515px;
    height: 38px;
    width: 317px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 3px 3px 0px;
}

.header__form:required {
    background-color: lightyellow;
}

.input_form {
    height: 35px;
    width: 279px;
    border: aliceblue;
    font-size: 14px;
    font-weight: 300;
    color: rgba(164, 164, 164, 1);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 32px;
}

.header_button {
    height: 36px;
    width: 42px;
    background: white;
    border: aliceblue;
}

.header_button:hover {
    background-color: #f16d7f;
}

.browse {
    border-radius: 3px 0px 0px 3px;
    width: 87px;
    height: 38px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    background-color: rgba(245, 245, 245, 1);
    border: aliceblue;
}

.browse:hover {
    background-color: #f16d7f;
    color: antiquewhite;
}

.header__cart {
    margin-right: 26px;
}

.button {
    font-size: 15px;
    color: #ffffff;
    text-align: right;
    letter-spacing: 0.03em;
    background-color: #f16d7f;
    padding: 12px 16px;
    border: 1px solid #f16d7f;
    border-radius: 3px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 13px;
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(34, 34, 34, 1);
}

.button:hover {
    border: 1px solid #f16d7f;
    background-color: #fff;
    color: #f16d7f;
}

.logo__img {
    margin-right: 13px;

}

.logo_d {
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.menu__link {
    padding: 20px;
    display: block;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    line-height: 26px;
    text-transform: uppercase;
}

.promo {
    height: 614px;
    background-color: #e8e8e8;
    background-image: url(img/promo-back.png);
    background-position: center -51px;
    background-repeat: no-repeat;
}

.promo__content {
    margin-top: 224px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.promo__h1 {
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 45px;
    margin-bottom: 12px;
}

.promo__h2 {
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 33px;
}

.banner {
    display: flex;
    justify-content: space-around;
    margin-top: 98px;
    height: 803px;
    margin-bottom: 100px;
}

.banner_left,
.banner_right {
    display: inline-block;
    justify-content: space-around;

}

.left_top_banner {
    background-image: url(img/1130.png);
    width: 560px;
    height: 542px;
    margin-bottom: 20px;
    padding-right: 15px;
    background-repeat: no-repeat;
}

.left_bottom_banner {
    background-image: url(img/1144.png);
    width: 560px;
    height: 261px;
}


.right_top_banner {
    background-image: url(img/1136.png);
    width: 560px;
    height: 261px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.right_bottom_banner {
    background-image: url(img/1137.png);
    width: 560px;
    height: 542px;
}

.left_top_banner_text {
    margin-top: 26px;
    float: left;
}

.left_bottom_banner_text {
    margin-top: 26px;
    float: left;
}

.right_top_banner_text {
    margin-top: 26px;
    float: left;
}

.right_bottom_banner_text {
    margin-top: 26px;
    float: left;
}

.left_top_banner_text,
.left_bottom_banner_text,
.right_top_banner_text,
.right_bottom_banner_text {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.03em;
    background-color: rgba(255, 255, 255, 1);
    padding: 16px 19px 16px 18px;
}

.banner_h2 {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.featured_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured_top {
    text-align: center;
    margin-bottom: 60px;
}

.featured_h4 {
    font-size: 30px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
}

.featured_h5 {
    font-size: 14px;
    color: rgba(159, 159, 159, 1);
    text-align: center;
    letter-spacing: 0.03em;
}

.featured_product {
    display: inline-block;
    justify-content: space-around;
    padding: 10px;
    position: relative;
}

.featured_product:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.featured_product:hover .product_img {
    filter: brightness(40%);
}

.featured_product:hover .product_add {
    display: flex;
}

.product_add {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    height: 39px;
    width: 123px;
    border: 1px solid #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 97px;
    left: 70px;
}

.product_add:hover {
    box-shadow: 0 0 6px #fff;
}

.featured_text1 {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
}

.featured_text2 {
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    text-transform: uppercase;
    margin-top: 16px;
}


.featured_button {
    margin-top: 79px;
    border: 1px solid rgba(241, 109, 127, 1);
    background-color: rgba(241, 109, 127, 1);
    color: rgba(255, 255, 255, 1);
    padding: 18px 19px 19px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 113px;
    margin-left: 462px;
}

.featured_button:hover {
    border: 1px solid #f16d7f;
    background-color: #fff;
    color: #f16d7f;
}

.women {
    display: flex;
    justify-content: center;
    width: 1140px;
    margin-bottom: 97px;
}

.women_left {
    width: 767px;
    height: 529px;
    background-image: url(img/1314.png);
}

.women_banner {
    margin-top: 146px;
    margin-left: 39px;
}

.women_30,
.women_offer {
    display: inline;
}

.women_30 {
    font-size: 54px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
}

.women_offer {
    font-size: 54px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
}

.women_for {
    float: left;
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
    -webkit-transform: scale(0.89);
    -ms-transform: scale(0.89);
    transform: scale(0.89);
}

.women_right {
    background-color: rgba(34, 34, 36, 1);
    width: 373px;
}

.women_img {
    position: absolute;
    padding-left: 36px;
}

.women_promo {
    padding-top: 48px;
}

.women_text {
    padding-left: 114px;

}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
}

.women_describe {
    font-size: 14px;
    font-weight: 300;
    color: rgba(251, 251, 251, 1);
    letter-spacing: 0.03em;
    line-height: 24px;
}

.subscribe {
    background-image: url(img/2194.png);
    height: 438px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 109px;
    background-color: rgba(242, 242, 242, 0.5);
}

.subscribe_left {
    float: left;
}

.subscribe_photo {
    position: absolute;
    padding-top: 111px;
    padding-left: 150px;
}

.subscribe_text_p {
    position: absolute;
    padding-top: 123px;
    padding-left: 291px;
    width: 425px;
    height: 197px;
    font-size: 16px;
    font-style: italic;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
}

.subscribe_text_nameplace {
    padding-left: 293px;
    padding-top: 210px;
}

.subscribe_text_name {
    font-size: 16px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
}

.subscribe_text_place {
    font-size: 12px;
    font-weight: 300;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 14px;
}

.subscribe_text_right {
    width: 277px;
    height: 41px;
    margin-left: auto;
    margin-right: 0;
    padding-top: 148px;
    text-align: center;
}

.subscribe_info1 {
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 54px;
}

.subscribe_info2 {
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 24px;
    width: 290px;
    margin-top: 10px;
}

.subscribe_email {
    display: flex;
}

.subscribe_form {
    height: 46px;
    width: 334px;
    background-color: rgba(225, 225, 225, 1);
    border-radius: 23px 0px 0px 23px;
    border: aliceblue;
    font-size: 14px;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 54px;
    text-align: center;
}

.subscribe_button {
    width: 150px;
    height: 46px;
    border: none;
    background-color: rgba(241, 109, 127, 1);
    border-radius: 0px 23px 23px 0px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 0.03em;
}

.subscribe_button:hover {
    background-color: #fff;
    color: rgba(241, 109, 127, 1);
}

.prefooter_text {
    display: flex;
}

.prefooter_brand {
    padding-left: 166px;
    padding-right: 62px;
    width: 431px;
    height: 205px;
    margin-bottom: 65px;
}

.prefooter_menu {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-around;
}

.prefooter_info {
    font-size: 14px;
    font-weight: 300;
    color: rgba(137, 137, 137, 1);
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 24px;
    padding-top: 29px;
    width: 435px;
}

.prefooter_head {
    font-size: 18px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 26px;
}

li {
    list-style-type: none;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 42px;
    text-decoration: none;
    color: rgba(137, 137, 137, 1);

}

prefooter_li {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 42px;
    text-decoration: none;
    color: rgba(137, 137, 137, 1);

}

.footer_bottom {
    margin-top: 109px;
    display: flex;
    background-color: rgba(230, 230, 230, 1);
    height: 79px;
    justify-content: space-between;
}

.soc_pics {
    padding-top: 24px;
    padding-right: 231px;
}

.copy {
    font-size: 16px;
    color: rgba(122, 122, 122, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 42px;
    padding-top: 33px;
    padding-left: 228px;
}

.pic {
    height: 32px;
    width: 32px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px;
    margin-left: 2px;
    margin-right: 2px;
}

.pic:hover {
    background-color: #f16d7f;
}

.catalog_top {
    height: 148px;
    background-color: rgba(248, 243, 244, 1);
}

.catalog_head {
    padding-left: 80px;
    margin-top: 65px;
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
}

.catalog_nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 65px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(99, 99, 99, 1);
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
}

.catalog_nav:hover {
    color: rgba(241, 109, 127, 1);
}

.catalog_left {
    padding-top: 71px;
    margin-bottom: 120px;
}

.catalog_right {
    display: flex;
    justify-content: space-between;
    height: 115px;
    width: 848px;
    margin-left: 49px;
    padding-right: 130px;
    padding-top: 71px;
}

.catalog_menu {
    display: flex;
}

.catalog_now {
    font-size: 14px;
    color: rgba(111, 110, 110, 1);
    line-height: 26px;
}

.product_catalog_h3 {
    font-size: 14px;
    font-weight: bold;
    color: rgba(111, 110, 110, 1);
    line-height: 20px;
    text-transform: uppercase;
}

.size {
    width: 124px;
    padding-left: 114px;
}

.sort {
    width: 846px;
    height: 50px;
    background-color: rgba(243, 243, 243, 1);


}

.drop {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    top: 48px;
}

.drop__h3 {
    font-size: 14px;
    color: #f16d7f;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 8px;
    width: 234px;
    margin-left: 80px;
    position: relative;
}

.drop__ul {
    list-style: none;
}

.drop__h3[open] .drop {
    display: flex;
}

.drop__a {
    font-size: 14px;
    color: #646464;
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 28px;
}

.drop__a:hover {
    color: #f16d7f;
}

.product {
    width: 263px;
    margin-bottom: 39px;
    position: relative;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 848px;
}

.product:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.product:hover .product__img {
    filter: brightness(40%);
}

.product:hover .product__add {
    display: flex;
}

.product__content {
    padding: 16px;
}

.product__img {
    width: 100%;
}

.product__name {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
}

.product__price {
    font-size: 16px;
    font-weight: bold;
    color: #f16d7f;
    text-transform: uppercase;
    margin-top: 16px;
}

.product__add {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    height: 39px;
    width: 123px;
    border: 1px solid #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 97px;
    left: 70px;
}

.product__add:hover {
    box-shadow: 0 0 6px #fff;
}

.viewall_butt {
    font-size: 15px;
    color: #ffffff;
    text-align: right;
    letter-spacing: 0.03em;
    background-color: #f16d7f;
    padding: 12px 16px;
    border: 1px solid #f16d7f;
    border-radius: 3px;
}

.button:hover {
    border: 1px solid #f16d7f;
    background-color: #fff;
    color: #f16d7f;
}

.feature_box {
    height: 341px;
    width: 1600px;
    background-color: rgba(34, 34, 36, 1);
}