* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
}

.center {
    padding: 0 calc(50% - 570px);
}

a {
    text-decoration: none;
}

.header {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header_form input, .header_form button {
  outline: none;
  background: transparent;
}
.header_form input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
  border: 3px solid #F9F0DA;
}
.header_form button {
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.header_form button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.header_form input:focus {
  border-color: #311c24
}

.search {
    height: 14px;
    width: 14px;
}

.browse {
    height: 38px;
    width: 87px;
    text-align: center;
    margin-top: 14px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: right;
    letter-spacing: 0.03em;
    padding: 14px 9px 14px 15px;
}

.header__cart {
    margin-right: 26px;
}

.button {
    border: 1px solid rgba(241, 109, 127, 1);
    background-color: rgba(241, 109, 127, 1);
    padding: 13px 12px 11px 19px;
    color: rgba(255, 255, 255, 1);
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 13px;
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo__img {
    margin-right: 13px;

}

.logo_d {
    font-family: 'Lato';
    font-size: 27px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.menu__link {
    padding: 20px;
    display: block;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    line-height: 26px;
    text-transform: uppercase;
}

.promo {
    height: 614px;
    background-color: #e8e8e8;
    background-image: url(img/promo-back.png);
    background-position: center -51px;
    background-repeat: no-repeat;
}

.promo__content {
    margin-top: 224px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.promo__h1 {
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 45px;
    margin-bottom: 12px;
}

.promo__h2 {
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 33px;
}

.banner {
    margin-top: 98px;
    height: 803px;
    margin-bottom: 100px;
}

.banner_left,
.banner_right {
    display: inline-block;
    justify-content: space-around;

}

.left_top_banner {
    background-image: url(img/1130.png);
    width: 560px;
    height: 542px;
    margin-bottom: 20px;
    padding-right: 15px;
    background-repeat: no-repeat;
}

.left_bottom_banner {
    background-image: url(img/1144.png);
    width: 560px;
    height: 261px;
}


.right_top_banner {
    background-image: url(img/1136.png);
    width: 560px;
    height: 261px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.right_bottom_banner {
    background-image: url(img/1137.png);
    width: 560px;
    height: 542px;
}

.left_top_banner_text {
    margin-top: 26px;
    float: left;
}

.left_bottom_banner_text {
    margin-top: 26px;
    float: left;
}

.right_top_banner_text {
    margin-top: 26px;
    float: left;
}

.right_bottom_banner_text {
    margin-top: 26px;
    float: left;
}

.left_top_banner_text,
.left_bottom_banner_text,
.right_top_banner_text,
.right_bottom_banner_text {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.03em;
    background-color: rgba(255, 255, 255, 1);
    padding: 16px 19px 16px 18px;
}

.banner_h2 {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.featured_top {
    text-align: center;
    margin-bottom: 60px;
}

.featured_h4 {
    font-family: 'Lato';
    font-size: 30px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
}

.featured_h5 {
    font-family: 'Lato';
    font-size: 14px;
    color: rgba(159, 159, 159, 1);
    text-align: center;
    letter-spacing: 0.03em;
}

.featured_product {
    display: inline-block;
    justify-content: space-around;
    padding: 10px;
}

.featured_product:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.featured_text1 {
    font-family: 'Lato';
    font-size: 13px;
    color: rgba(34, 34, 34, 1);
    text-transform: uppercase;
    padding-bottom: 17px;
}

.featured_text2 {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    text-transform: uppercase;
    padding-bottom: 60px;
}

.featured_button {
    display: flex;
    justify-content: center;
}

.featured_button_text {
    margin-top: 79px;
    border: 1px solid rgba(241, 109, 127, 1);
    background-color: rgba(241, 109, 127, 1);
    color: rgba(255, 255, 255, 1);
    padding: 18px 19px 19px 24px;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.03em;
}
